.CounterOutput {
    width: 100%;
    background: linear-gradient(90deg,#5ad4a1,#1a7b53);
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}