.App {
  text-align: center;
}
li {
  width: 50%;
  margin: 5px auto;
  padding: 10px;
  background-color: #5ad4a1;
  list-style-type: none;
  color: #fdfdfd;
}
button {
  padding: 10px;
  border-radius: 0;
  border: none;
  background: #1a7b53;
  color: #fdfdfd;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}